.root {
  display: flex;
  align-items: center;
  position: sticky;
  top: -1px;
  z-index: 1;
  padding-top: 10px;
  background-color: var(--panel-bg-color);
}
.content {
  flex: 1;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 15px;
  background-color: var(--panel-bg-color);
  box-shadow: 0px -4px 6px rgb(0 0 0 / 10%);
}

.icon {
  height: var(--title-text-size);
  width: var(--title-text-size);
  margin-right: 7px;
}

.actions {
  flex: 1;
  display: flex;
  justify-content: end;
  opacity: 0;
  transition: opacity 250ms;
}
.actions:hover {
  opacity: 1;
}
